* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

:root {
  /* Primary */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  /* Neutral */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}
p {
  font-size: 0.888rem;
  color: var(--Dark-grayish-blue);
}
.container {
  width: 85vw;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-family: "Inter", sans-serif;
  justify-content: center;
}

/* ===============================Header & Nav CSS============================ */
header {
  display: flex;
  align-items: center;
}
.header-logo {
  flex-basis: 55%;
}

nav {
  flex-grow: 1;
  text-align: end;
  display: flex;
  justify-content: space-between;
}
nav p {
  display: inline-block;
}
nav p :hover {
  color: var(--Soft-red);
  font-weight: 700;
}
nav p a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
}
.mobile-nav-btn {
  display: none;
}
.btn-open,
.btn-close {
  display: inline-block;
}

/* ====================================Main CSS================================ */
main {
  display: flex;
  column-gap: 1rem;
}
main article {
  flex-basis: 67.2%;
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
}
main article picture {
  flex-basis: 100%;
  text-align: center;
}

main article picture img {
  height: 100%;
  width: 100%;
}

main article .article-title {
  flex-basis: 50%;
}
main article .article-title h1 {
  font-weight: 800;
  font-size: 2rem;
}
main article .article-description {
  flex-basis: 50%;
  padding-left: 0.9rem;
}
main article .article-description button {
  margin-top: 1rem;
  width: 8rem;
  letter-spacing: 2px;
  padding: 7px 6px;
  background-color: var(--Soft-red);
  border: none;
  color: var(--Off-white);
}
main article .article-description button:hover {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  font-weight: 700;
}
main aside {
  flex-basis: 32.8%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-dark-blue);
  box-shadow: 2px 2px 4px 3px lightgray;
}

aside .headlines {
  height: 97%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.headlines h3 {
  font-size: 1.7rem;
  color: var(--Soft-orange);
}
.headlines h5 {
  color: var(--Off-white);
}
.headlines h5:hover {
  color: var(--Soft-orange);
  font-weight: 800;
}
.headlines p {
  color: var(--Grayish-blue);
}

/* ===================================SECTION CSS=============================== */
section {
  display: flex;
  column-gap: 2%;
}
section article {
  flex-basis: 33.33%;
  display: flex;
  column-gap: 0.6em;
}
section article:hover {
  position: relative;
  top: 0.3rem;
  left: 0.3rem;
}

section article .article-logo {
  flex-basis: 35%;
  display: flex;
  align-items: center;
}

.article-logo img {
  width: 100%;
  height: 100%;
}
section article .article-description {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-description .number {
  color: var(--Grayish-blue);
  font-weight: 800;
  font-size: 1 rem;
}

.article-description .topic {
  color: var(--Very-dark-blue);
  font-weight: 700;
}
.article-description .topic:hover {
  color: var(--Soft-orange);
  font-weight: 800;
}

.article-description .content {
  color: var(--Dark-grayish-blue);
}

/* ===================================RESPONSIVE=================================== */

/* -----------------------------------FOR TABLETS---------------------------------- */
@media screen and (768px<= width <=992px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 120%;
  }
  main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 1.5rem;
  }
  section {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }
  section article .article-description {
    justify-content: center;
  }
  nav {
    display: none;
  }
  header {
    display: flex;
  }
  .header-logo {
    flex-basis: 50%;
  }
  .mobile-nav-btn {
    display: inline-block;
    text-align: end;
    flex-grow: 1;
    z-index: 999;
  }
  .btn-close {
    display: none;
  }
  .btn-open {
    display: inline-block;
  }

  .headlines h3,
  h5,
  p {
    margin: 0.4em 0;
    padding: 0.5em 0;
  }
}

/* ------------------------------------FOR PHONES------------------------------ */
@media screen and (width <=768px) {
  main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  main article {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  nav {
    display: none;
  }
  header {
    display: flex;
  }
  .header-logo {
    flex-basis: 50%;
  }
  .mobile-nav-btn {
    display: inline-block;
    text-align: end;
    flex-grow: 1;
    z-index: 999;
  }
  .btn-close {
    display: none;
  }
  .btn-open {
    display: inline-block;
  }

  section {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }

  .headlines h3,
  h5,
  p {
    margin: 0.4em 0;
    padding: 0.5em 0;
  }
}
